HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/orders/.mvn/wrapper/MavenWrapperDownloader.java
/orders/.mvn/wrapper/maven-wrapper.jar
/orders/.mvn/wrapper/maven-wrapper.properties
/mvnw
/mvnw.cmd
/orders/mvnw
/orders/mvnw.cmd
/portal/.mvn/wrapper/MavenWrapperDownloader.java
/portal/.mvn/wrapper/maven-wrapper.jar
/portal/.mvn/wrapper/maven-wrapper.properties
/portal/.mvn/wrapper/maven-wrapper.jar
/products/mvnw
/products/mvnw.cmd
/products/.mvn/wrapper/MavenWrapperDownloader.java
/products/.mvn/wrapper/maven-wrapper.jar
/products/.mvn/wrapper/maven-wrapper.properties
/portal/.mvn/wrapper/maven-wrapper.jar
/portal/.mvn/wrapper/maven-wrapper.jar
/portal/.mvn/wrapper
/portal/mvnw
/portal/mvnw.cmd
/payments/.mvn/wrapper
/payments/mvnw
/payments/mvnw.cmd
